<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body style="background-color: #fff;">
    <div style="text-align:center;margin-top:2%; color: red;">
    
        <h1 style="line-height:200%">
        ERROR!! <br>
        </h1>
    </div>
    <div style="margin-left: 3%;">
        <h2>Kindly check the following syntax:</h2> 
        <h3 style="line-height:200%;">
            
        1. Number of weights and impacts must be equal.<br>
        2. The impacts must be '+' or '-'.<br>
        3. Number of columns must be greater than equal to 3.<br>
        4. Number of columns of file and number of weights/impacts must be equal.<br>
        5. All the columns except the first one must be numeric.
        </h3>
    </div>
    </body>
</html>