<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body style="background-color: #fff;">
    <div style="text-align:center;margin-top:2%; color: red;">
    
        <h1 style="line-height:200%">
        ERROR!! <br>
        </h1>
    </div>
    <div style="margin-left: 3%;">
        <h2>Kindly check the following syntax:</h2> 
        <h3 style="line-height:200%;">

        1. Make sure to enter the correct email id.<br>
        2. Maybe try with lesser number of videos.

        </h3>
    </div>
    </body>
</html>